/* Google Fonts */
 @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
 @import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
/* Base CSS */
 .alignleft {
     float: left;
     margin-right: 15px;
}
 .alignright {
     float: right;
     margin-left: 15px;
}
 .aligncenter {
     display: block;
     margin: 0 auto 15px;
}
 a:focus, button:focus {
     outline: 0 solid 
}
 img {
     max-width: 100%;
     height: auto;
}
 h1, h2, h3, h4, h5, h6 {
     margin: 0 0 15px;
     font-weight: 700;
     font-family: 'Titillium Web', sans-serif;
}
 h4{
     font-size: 22px;
}
 body {
     font-family: 'PT Serif', serif;
     font-size: 16px;
     line-height: 1.7;
     position: relative;
}
 a:hover {
     text-decoration: none 
}
/* Common CSS */
 a.prosper-btn {
     background: #41A5D9;
     color: #fff;
     font-weight: 700;
     font-size: 14px;
     text-transform: uppercase;
     display: inline-block;
     padding: 10px 20px;
     border-radius: 3px;
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
     margin-top: 20px;
}
 a.prosper-btn:hover {
     background: #85C342;
}
 .section-padding{
     padding-top: 140px;
     padding-bottom: 50px;
}
 .section-grey{
     background: #F3F3F3;
}
 .blue{
     color: #41A6D9;
}
 .green{
     color: #85C341;
}
/* Header CSS */
 .header-top-wrap {
     background: rgba(29, 14, 0, 0.7);
     padding: 15px 0 0;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
}
 .header-top-wrap, .header-top-wrap a {
     color: #fff;
}
 .sh-mainmenu {
     float: right;
}
 .nav-menu ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
 .nav-menu ul li {
     display: inline-block;
}
 .nav-menu {
     text-align: right;
}
 .header-top-add {
     text-align: right;
}
 .nav-menu ul li a {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 14px;
     padding: 20px 0 15px 30px;
     display: block;
}
 .header-top-add i.fa {
     margin-right: 5px;
}
 .header-top-add span {
     margin-left: 20px;
}
 .nav-menu ul li a, .header-top-add a {
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
}
 .nav-menu ul li a:hover, .header-top-add a:hover {
     color: #85C242;
}
/* Header Slider */
 .single-slider{
     background-image: url(../img/home-slider-1.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-color: #ddd;
}
 .slider-bg-2{
     background-image: url(../img/home-slider-2.jpg);
}
 .slider-bg-3{
     background-image: url(../img/home-slider-3.jpg);
}
 .home-page-slider img {
}
 .single-slider {
     height: 100vh;
     color: #000;
     text-align: center;
     position: relative;
     z-index: 1;
}
 .single-slider h1 {
     font-size: 50px;
     text-transform: uppercase;
}
 .single-slider p {
     font-size: 20px;
}
 .slider-table {
     display: table;
     height: 100vh;
}
 .slider-tablecell {
     display: table-cell;
     vertical-align: middle;
}
 .single-slider:after {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: #fff;
     content: "";
     z-index: -1;
     opacity: 0.7;
}
/* Welcome Text CSS */
 .welcome-text {
     background-image: url(../img/bodybg.jpg);
     background-repeat: repeat;
     text-align: center;
     padding: 100px 0;
}
/* Service Block CSS */
 .pro-webtitle {
     text-align: center;
     padding-bottom: 50px;
}
 .pro-webtitle h2 {
     font-size: 40px;
     text-transform: uppercase;
}
 .single-service-block h3 {
     margin: 0 0 25px;
     font-size: 32px;
}
 .single-service-block img {
     margin-bottom: 30px;
}
 .single-service-block {
     margin-bottom: 30px;
}
/* Our Cars CSS */
 .car-slider-content {
     text-align: center;
}
 .car-img {
     margin-bottom: 30px;
}
 .car-slider-content h3 {
     font-size: 32px;
}
/* Footer CSS */
 .footer-area {
     background-image: url(../img/home-slider-3.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-color: #ddd;
     position: relative;
     z-index: 1;
     padding: 70px 0;
}
 .footer-area:after {
     position: absolute;
     left: 0;
     top: 0;
     background: #000;
     content: "";
     width: 100%;
     height: 100%;
     z-index: -1;
     opacity: .8;
}
 .footer-wid, .footer-wid a {
     color: #ddd;
}
 h4.footer-wid-title {
     font-size: 28px;
     text-transform: uppercase;
     margin: 0 0 30px;
}
 .footer-wid ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
 .footer-wid ul li a {
     font-weight: 700;
     display: block;
     padding: 5px 0;
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
}
 .footer-wid ul li a:hover {
     color: #84C241;
     padding-left: 10px;
}
 span.address-footer {
     margin-bottom: 10px;
}
 .footer-wid span {
     display: block;
}
 .company-name span {
     display: inline-block;
}
 .footer-wid i.fa {
     margin-right: 8px;
}
 span.email-footer {
     margin: 10px 0;
}
 .footer-social i.fa {
     width: 35px;
     height: 35px;
     display: inline-block;
     background: #41A6D9;
     line-height: 35px;
     border-radius: 50%;
     text-align: center;
     font-size: 20px;
     color: #000;
}
 .footer-social {
    margin-top: 20px;
}
 .footer-wid, .footer-wid a {
     color: #ddd;
}
 h4.footer-wid-title {
     font-size: 28px;
     text-transform: uppercase;
     margin: 0 0 30px;
}
 h4.footer-wid-title span {
     display: inline-block;
}
 .footer-wid ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
 .footer-wid ul li a {
     font-weight: 700;
     display: block;
     padding: 5px 0;
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
}
 .footer-wid ul li a:hover {
     color: #84C241;
     padding-left: 10px;
}
 span.address-footer {
     margin-bottom: 10px;
}
 .footer-wid span {
     display: block;
}
 .company-name span {
     display: inline-block;
}
 span.email-footer a:hover, a.phone-no:hover {
     color: #85C241;
}
 .footer-wid i.fa {
     margin-right: 8px;
}
 span.email-footer {
     margin: 10px 0;
}
 .footer-social i.fa {
     width: 35px;
     height: 35px;
     display: inline-block;
     background: #41A6D9;
     line-height: 35px;
     border-radius: 50%;
     text-align: center;
     font-size: 20px;
     color: #000;
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
}
 .footer-social a:hover i.fa {
     background: #85C342;
}
 .footer-social {
    margin-top: 20px;
}
 .footer-bottom {
     background: #41A6D9;
     color: #fff;
}
 .footer-bottom p {
     margin: 0;
     padding: 0;
}
 .footer-bottom {
     padding: 10px 0;
     border-top: 5px solid #85C342;
}
/* Booking CSS */
 .booking-bg {
     background: #f9b70194;
     padding-bottom: 50px;
}
 .booking-form-block select {
     padding: 10px;
     width: 100%;
     background: none;
     border: none;
     border-bottom: 1px solid #41A6D9;
     font-size: 18px;
     color: #000;
     opacity: .5;
}
 .booking-form-block input[type=text], .booking-form-block input[type=date], .booking-form-block input[type=email], .booking-form-block input[type=time], .booking-form-block input[type=tel] {
     width: 100%;
     padding: 10px 10px;
     background: no-repeat;
     border: none;
     border-bottom: 1px solid #41A6D9;
     font-size: 18px;
}
 .booking-right-side-text h2 {
     font-size: 40px;
}
 .booking-right-side-text p {
     font-size: 20px;
}
 .booking-right-side-text {
     padding: 110px 30px;
     text-align: center;
}
 .booking-form-block h4 {
     margin: 0 0 30px;
}
 .booking-right-side-text h2 {
     font-size: 40px;
}
 .booking-right-side-text p {
     font-size: 20px;
}
 .booking-right-side-text {
     padding: 110px 30px;
     text-align: center;
}
 .booking-form-block h4 {
     margin: 0 0 30px;
}
 .booking-form-block input[type=submit] {
     background: #40A6D8;
     border: none;
     color: #fff;
     text-transform: uppercase;
     font-weight: 700;
     padding: 10px 15px;
     border-radius: 3px;
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
     cursor: pointer;
     margin-top: 30px;
}
 .booking-form-block input[type=submit]:hover {
     background: #85C241;
}
